<section class="row">
  <div class="col-md-6">
    <p class="mt-4 text-justify">
      <%= lorem_ipsum %>
    </p>
  </div>
  <div class="col-4">
    <%= image_tag"Logo-02.png", height:300, alt:"About us" %>
    <!-- <img class="img-fluid" alt="About us" src="Logo-02.png"> -->
  </div>
</section>
