<div class="container footer">
  <div class="fotter-rectangle"></div>
  <div class="footer-body" style="height: 80px">
    <!-- <div class="col-3 d-flex flex-column align-items-center mt-3"> -->
    <!-- <a href="#">
        <h4>
          <i class="fab fa-youtube text-muted"></i>
        </h4>
      </a>
      <a href="#">
        <h4>
          <i class="fab fa-twitter text-muted"></i>
        </a>
        </h4> -->
    <!-- <a href="https://www.linkedin.com/events/discosport100-virtual6780296446915829760/">
        <h4>
          <i class="fab fa-linkedin text-muted"></i>
        </h4>
      </a> -->
    <!-- <div class="img-fluid">
        <= image_tag "https://res.cloudinary.com/dannieltung/image/upload/v1617895998/logo-02_rzjoud.png", style: 'height:auto;width:auto;', class: "img-fluid", alt: "Responsive image" >
      </div>
    </div> -->
    <div class="col-6 mt-2 pt-3 d-flex flex-column">
      <!-- <= link_to "Empresa", "/about_us", class: "text-light" > -->
      <h6>
        <section class='text-light' style="font-size: 12px">
          UAI Aperitivos
        </section>
      </h6>
      <h6>
        <!-- <= link_to "Contato", "/about_us", class: "text-light" > -->
        <section class='text-light' style="font-size: 12px">
          CNPJ: 00.000.000/0000-00
        </section>
      </h6>
      <h6>
        <!-- <= link_to "Contato", "/about_us", class: "text-light" > -->
        <section class='text-light' style="font-size: 12px">
          Rua XXXXXXXX, 000 - Cep: 00000-000 - Belo Horizonte, MG
        </section>
      </h6>
      <!-- <h6>
        <= link_to "Register", new_user_registration_path, class: "text-muted" %>
      </h6> -->
    </div>
    <!-- <div class="col-5 d-flex flex-column  text-muted" style="height: 100%">
      <div class="align-self-end mt-1">
        <h6 class="mb-0">  <i class="far fa-copyright"></i>All Rights Reserved to Basic Lead 2021</h6>
        <div class="my-1">
          <p class="fw-lighter">developed by <a href="mailto:joa@birds.art.br?subject=DiscoSport" class="text-muted"> JoA <i class="fab fa-github text-muted"></i></a></p>
        </div>
      </div>
    </div> -->
  </div>
</div>
