<div class="cards">
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 1
  </div>
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 2
  </div>
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 3
  </div>
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 4
  </div>
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 5
  </div>
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 6
  </div>
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 7
  </div>
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 8
  </div>
  <div class="card" style="background-image: url(Logo-02.png)">
    Parceiro 9
  </div>
</div>
